button,
.action {
  width: auto;
  padding: 1rem;
  margin: auto;
  border: none;
  background-color: #24292f;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}
