form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
  }
  
  input, textarea {
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #24292f;
  }
  
  textarea {
    resize: vertical;
    height: 500px
  }