* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4,
p,
input,
textarea {
  color: #24292f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  background: #24292f;
  color: #fff;
}

nav {
  display: flex;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

h3 {
  color: #24292f;
  font-size: 2rem;
  line-height: 2.1rem;
  margin-right: 3rem;
}

h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: #727272;
  font-style: italic;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
}

/* Classes globais */

.fSizeLarge {
  font-size: 2rem;
  font-weight: bold;
}

.delete {
  color: #fc0407;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
