* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5rem;
}
h1, h2, h3, h4, p, input, textarea {
  color: #24292f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  background: #24292f;
  color: #fff;
}

nav {
  display: flex;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
/* Classes globais */

.fSizeLarge {
  font-size: 2rem;
  font-weight: bold;
}

.delete {
  color: #fc0407;
}